# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Database files
*.db
*.sqlite3

# IDE settings (optional, e.g., PyCharm or VSCode)
.idea/
.vscode/

# Config files
config.py
instance/
*.cfg
*.conf

# Environment variables
.env
.env.*

# Fonts
*.otf
*.ttf

# Image and font folders
header_images
images
fonts

# Logs and migrations
*.log
migrations/

# Uploads and media
uploads/
static/uploads/
static/header_images/

# Temporary or development files
*.tmp
*.bak
*.swp
*.swo

# macOS and system files
.DS_Store
Thumbs.db

# Elasticsearch and search-related
*.log
