# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Database files
*.db

# IDE settings (optional, e.g., PyCharm)
.idea/

# Config files
config.py
instance/
*.cfg
*.conf

# Environment variables
.env
.env.*

#fonts
*.otf
*.ttf

#image and font folders
header_images
images
fonts


